@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand.ttf');
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito.ttf');
}

body {
  margin: 0;
  font-family: 'Quicksand';
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer{
  color: white;
  background: rgb(0,164,255);
  background: linear-gradient(312deg, rgba(0,164,255,1) 0%, rgba(0,116,255,1) 100%); 
}